<!--Header-->
	<div class="w-full m-0 p-0 bg-cover bg-bottom" style="background-image:url('./images/coverHome.jpg'); height: 60vh; max-height:460px;">
			<div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">
				<!--Title-->
					<p class="text-white font-extrabold text-3xl md:text-5xl">
						Workshop
					</p>
					<p class="text-xl md:text-2xl text-gray-500">Welcome to Workshop</p>
			</div>
		</div>
		
		<!--Container-->
		<div class="container px-4 md:px-0 max-w-6xl mx-auto -mt-32">
			
			<div class="mx-0 sm:mx-6">
				
				<div class="bg-gray-200 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">
					
				<!--Lead Card-->
				<div class="flex h-full bg-white rounded overflow-hidden shadow-lg">
					<a href="/event/detail/{{firstFourEvents.[0]._id}}" class="flex flex-wrap no-underline hover:no-underline">
						<div class="w-full md:w-2/3 rounded-t">	
							<img src="{{firstFourEvents.[0].backgroundImage}}" class="shadow" width="800" height="600">
						</div>

						<div class="w-full md:w-1/3 flex flex-col flex-grow flex-shrink">
							<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
								<p class="w-full text-gray-600 text-xs md:text-sm pt-6 px-6">GETTING STARTED</p>
								<div class="w-full font-bold text-2xl text-gray-900 px-6">{{firstFourEvents.[0].title}}</div>
								<br/>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									{{firstFourEvents.[0].description}}
								</p>
									<div class="flex items-center px-6 mb-5">
									<div class="mr-1  text-xl font-bold "> 
										{{firstFourEvents.[0].dateStart}}
									</div>
								</div>
							</div>

							<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
								<div class="flex items-center justify-between">
									<div class="flex">
										<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
										<span class="text-lg">{{firstFourEvents.[0].speakers.[0].full_name}}</span>
									</div>
									<p class="text-gray-600 text-xl">{{firstFourEvents.[0].expenses}} VNĐ</p>
								</div>
							</div>
						</div>

					</a>
				</div>
				<!--/Lead Card-->


				<!--Posts Container-->
				<div class="flex flex-wrap justify-between pt-12 -mx-6">

					<!--1/3 col -->
					{{!-- Event 2 --}}
					<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/event/detail/{{firstFourEvents.[1]._id}}" class="flex flex-wrap no-underline hover:no-underline">
								<img src="{{firstFourEvents.[1].backgroundImage}}" class="h-64 w-full rounded-t pb-6">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
								<div class="w-full font-bold text-xl text-gray-900 px-6">{{firstFourEvents.[1].title}}</div>
								<br/><br/>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									{{firstFourEvents.[1].description}}
								</p>
									<div class="flex items-center px-6 mb-5">
									<div class="mr-1  text-lg font-bold "> 
										{{firstFourEvents.[1].dateStart}}
									</div>
								</div>
							</a>
						</div>
						<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
							<div class="flex items-center justify-between">
								<div class="flex">
									<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
									<span class="text-base">{{firstFourEvents.[1].speakers.[0].full_name}}</span>
								</div>
								<p class="text-gray-600 text-xl">{{firstFourEvents.[1].expenses}} VNĐ</p>
							</div>
						</div>
					</div>
				
					
					<!--1/3 col -->
					{{!-- Event 3 --}}
					<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/event/detail/{{firstFourEvents.[2]._id}}" class="flex flex-wrap no-underline hover:no-underline">
								<img src="{{firstFourEvents.[2].backgroundImage}}" class="h-64 w-full rounded-t pb-6">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
								<div class="w-full font-bold text-xl text-gray-900 px-6">{{firstFourEvents.[2].title}}</div>
								<br/>
								<br/>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									{{firstFourEvents.[2].description}}
								</p>
								<div class="flex items-center px-6 mb-5">
									<div class="mr-1  text-lg font-bold "> 
										{{firstFourEvents.[2].dateStart}}
									</div>
								</div>
							</a>
							</div>
						<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
							<div class="flex items-center justify-between">
								<div class="flex">
									<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
									<span class="text-base">{{firstFourEvents.[2].speakers.[0].full_name}}</span>
								</div>
								<p class="text-gray-600 text-xl">{{firstFourEvents.[2].expenses}} VNĐ</p>
							</div>
						</div>
					</div>

					<!--1/3 col -->
					{{!-- Event 4 --}}
					<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/event/detail/{{firstFourEvents.[3]._id}}" class="flex flex-wrap no-underline hover:no-underline">
								<img src="{{firstFourEvents.[3].backgroundImage}}" class="h-64 w-full rounded-t pb-6">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
								<div class="w-full  font-bold text-xl text-gray-900 px-6">{{firstFourEvents.[3].title}}</div>
								<br/>
								<br/>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									{{firstFourEvents.[3].description}}
								</p>
									<div class="flex items-center px-6 mb-5">
									<div class="mr-1  text-lg font-bold "> 
										{{firstFourEvents.[3].dateStart}}
									</div>
								</div>
							</a>
						</div>
						<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
							<div class="flex items-center justify-between">
								<div class="flex">
									<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
									<span class="text-base">{{firstFourEvents.[3].speakers.[0].full_name}}</span>
								</div>
								<p class="text-gray-600 text-xl">{{firstFourEvents.[3].expenses}} VNĐ</p>
							</div>
						</div>
					</div>

				</div>
				<!--/ Post Content-->

				{{!-- Content show more --}}
				<!--Posts Container-->
				<div id="viewMore" class="grid hidden grid-cols-3 justify-between pt-12 -mx-6">

					<!--1/3 col -->
					{{!-- Event 2 --}}
					
					{{#each remainingEvents}}
						<div class="w-full p-6 flex flex-col flex-grow flex-shrink">
							<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
								<a href="/event/detail/{{this._id}}" class="flex flex-wrap no-underline hover:no-underline">
									<img src="{{this.backgroundImage}}" class="h-64 w-full rounded-t pb-6">
									<p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
									<div class="w-full font-bold text-xl text-gray-900 px-6">{{this.title}}</div>
									<br/><br/>
									<p class="text-gray-800 font-serif text-base px-6 mb-5">
										{{this.description}}
									</p>
										<div class="flex items-center px-6 mb-5">
										<div class="mr-1  text-lg font-bold "> 
											{{this.dateStart}}
										</div>
									</div>
								</a>
							</div>
							<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
								<div class="flex items-center justify-between">
									<div class="flex">
										<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
										<span class="text-base">{{this.speakers.[0].full_name}}</span>
									</div>
									<p class="text-gray-600 text-xl">{{this.expenses}} VNĐ</p>
								</div>
							</div>
						</div>
					{{/each}}

				</div>

				{{!-- Button show more --}}
				<div class="w-full flex justify-center">
					<button id="buttonViewMore" onclick="showMore()" class="flex items-center bg-white text-indigo-700 border border-indigo-600 py-2 px-6 gap-2 rounded ">
							<span>
								View More
							</span>
							<svg class="w-4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								viewBox="0 0 24 24" class="w-6 h-6 ml-2">
								<path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
							</svg>
					</button>
				</div>
			</div>
			
			
	
			
		</div>
	

	</div>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script>
		//Init tooltips
		tippy('.avatar')


		

		function showMore(){
			const viewMore = document.getElementById('viewMore');
			const buttonViewMore = document.getElementById('buttonViewMore');
			viewMore.classList.remove('hidden');
			buttonViewMore.classList.add('hidden')

		}
	</script>