<!--Header-->
	<div class="w-full m-0 p-0 bg-cover bg-bottom" style="background-image:url('./images/coverHome.jpg'); height: 60vh; max-height:460px;">
			<div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">
				<!--Title-->
					<p class="text-white font-extrabold text-3xl md:text-5xl">
						Workshop
					</p>
					<p class="text-xl md:text-2xl text-gray-500">Welcome to Workshop</p>
			</div>
		</div>
		
		<!--Container-->
		<div class="container px-4 md:px-0 max-w-6xl mx-auto -mt-32">
			
			<div class="mx-0 sm:mx-6">
				
				<div class="bg-gray-200 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">
					
				<!--Lead Card-->
				<div class="flex h-full bg-white rounded overflow-hidden shadow-lg">
					<a href="/event/detail/{{events.[0]._id}}" class="flex flex-wrap no-underline hover:no-underline">
						<div class="w-full md:w-2/3 rounded-t">	
							<img src="{{events.[0].backgroundImage}}" class="shadow" width="800" height="600">
						</div>

						<div class="w-full md:w-1/3 flex flex-col flex-grow flex-shrink">
							<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
								<p class="w-full text-gray-600 text-xs md:text-sm pt-6 px-6">GETTING STARTED</p>
								<div class="w-full font-bold text-2xl text-gray-900 px-6">{{events.[0].title}}</div>
								<br/>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									{{events.[0].description}}
								</p>
									<div class="flex items-center px-6 mb-5">
									<div class="mr-1  text-xl font-bold "> 
										{{events.[0].dateStart}}
									</div>
								</div>
							</div>

							<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
								<div class="flex items-center justify-between">
									<div class="flex">
										<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
										<span class="text-lg">{{events.[0].speakers.[0].full_name}}</span>
									</div>
									<p class="text-gray-600 text-xl">{{events.[0].expenses}} VNĐ</p>
								</div>
							</div>
						</div>

					</a>
				</div>
				<!--/Lead Card-->


				<!--Posts Container-->
				<div class="flex flex-wrap justify-between pt-12 -mx-6">

					<!--1/3 col -->
					{{!-- Event 2 --}}
					<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/event/detail/{{events.[1]._id}}" class="flex flex-wrap no-underline hover:no-underline">
								<img src="{{events.[1].backgroundImage}}" class="h-64 w-full rounded-t pb-6">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
								<div class="w-full font-bold text-xl text-gray-900 px-6">{{events.[1].title}}</div>
								<br/><br/>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									{{events.[1].description}}
								</p>
									<div class="flex items-center px-6 mb-5">
									<div class="mr-1  text-lg font-bold "> 
										{{events.[1].dateStart}}
									</div>
								</div>
							</a>
						</div>
						<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
							<div class="flex items-center justify-between">
								<div class="flex">
									<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
									<span class="text-base">{{events.[1].speakers.[0].full_name}}</span>
								</div>
								<p class="text-gray-600 text-xl">{{events.[1].expenses}} VNĐ</p>
							</div>
						</div>
					</div>
				
					
					<!--1/3 col -->
					{{!-- Event 3 --}}
					<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/event/detail/{{events.[2]._id}}" class="flex flex-wrap no-underline hover:no-underline">
								<img src="{{events.[2].backgroundImage}}" class="h-64 w-full rounded-t pb-6">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
								<div class="w-full font-bold text-xl text-gray-900 px-6">{{events.[2].title}}</div>
								<br/>
								<br/>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									{{events.[2].description}}
								</p>
								<div class="flex items-center px-6 mb-5">
									<div class="mr-1  text-lg font-bold "> 
										{{events.[2].dateStart}}
									</div>
								</div>
							</a>
							</div>
						<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
							<div class="flex items-center justify-between">
								<div class="flex">
									<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
									<span class="text-base">{{events.[2].speakers.[0].full_name}}</span>
								</div>
								<p class="text-gray-600 text-xl">{{events.[2].expenses}} VNĐ</p>
							</div>
						</div>
					</div>

					<!--1/3 col -->
					{{!-- Event 4 --}}
					<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/event/detail/{{events.[3]._id}}" class="flex flex-wrap no-underline hover:no-underline">
								<img src="{{events.[3].backgroundImage}}" class="h-64 w-full rounded-t pb-6">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">GETTING STARTED</p>
								<div class="w-full  font-bold text-xl text-gray-900 px-6">{{events.[3].title}}</div>
								<br/>
								<br/>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									{{events.[3].description}}
								</p>
									<div class="flex items-center px-6 mb-5">
									<div class="mr-1  text-lg font-bold "> 
										{{events.[3].dateStart}}
									</div>
								</div>
							</a>
						</div>
						<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
							<div class="flex items-center justify-between">
								<div class="flex">
									<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
									<span class="text-base">{{events.[3].speakers.[0].full_name}}</span>
								</div>
								<p class="text-gray-600 text-xl">{{events.[3].expenses}} VNĐ</p>
							</div>
						</div>
					</div>




				</div>
				<!--/ Post Content-->
						
			</div>
			
			
	
			
		</div>
	

	</div>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script>
		//Init tooltips
		tippy('.avatar')
	</script>